body {
  margin: 0;
  background-color: #ccc;
  width: 100%;
  height: 100%;
}
/*HEADER */
header {
  background-color: rgb(34, 30, 30);
  display: flex;
}

div.search {
  display: flex;
  width: 30%;
  height: 3%;
  margin: auto;
  padding: 4px;
  background-color: #fff;
  border: 2px solid rgb(11, 49, 11);
  border-radius: 30px;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 50px;
}
/*List*/
nav>ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  flex-wrap: wrap;
}
.option{
list-style: none;
}
li:hover{
  color: rgb(200, 100, 50);
  background-color: #ccc;
}
li:active{
  color: #fff;
  background-color: #fff;
}
.option li::after{
 color: black;
 content: "|";
 margin-left: 100px; 
}
ul {
  text-decoration: none;
}
/* Center*/
.container {
  background-size: fit-content;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  background-image: url("./public/bigstock-spoon-with-coffee-grounds-and-418366237.jpeg");
  background-attachment: scroll;
  position: relative;
}
h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
/*Productos*/
main > div {
  position: relative;
  flex-direction: column;
  left: 50px;
  top: 80px;
}
.coffeeclass{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  flex-wrap: wrap;
}
div.blackcoffee {
  border: solid;
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 200px;
  height: 300px;
}
div.bcoffee {
  border: solid;
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 200px;
  height: 300px;
}
div.acoffee {
  border: solid;
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 200px;
  height: 300px;
}
p.blackcoffee {
  color: chocolate;
}
p.bcoffee {
  color: chocolate;
}
p.acoffee {
  color: chocolate;
}
.classmain{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  padding: 1px;
  align-items: center;
}